
* {
    margin: 0;
    padding: 0;
}

body {
    background-color:hsl(217, 54%, 11%);
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
}

.container {
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    width: 275px;
    padding: 1.5rem;
}

.image-container {
    position: relative;
}

.main-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.image-container div {
    position: absolute;
    background-color: hsl(178, 100%, 50%);
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.image-container div:hover {
    opacity: 1;
    cursor: pointer;
    border-radius: 10px;
}

.image-container div img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-container .main-image:hover + .hover-active {
    display: block;
}

h1 {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.description {
    margin: 0.6rem 0 1rem 0;
    color: hsl(215, 51%, 70%);
    line-height: 1.75rem;
    font-weight: 300;
}

.price-days {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hsl(215, 51%, 70%);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.price {
    display: flex;
    align-items: center;
    color: hsl(178, 100%, 50%);
    font-size: 14px;
    letter-spacing: 1px;
}

.price img {
    margin-right: 5px;
}

.days-left {
    display: flex;
    align-items: center;
    color: hsl(215, 51%, 70%);
}

.days-left img {
    margin-right: 8px;
}

.creator {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: hsl(215, 51%, 70%);
}

.avatar {
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 1rem;
}

span {
    color: white;
    margin-left: 5px;
}

.main-image, h3, span {
    cursor: pointer;
}

.container:hover .main-image {
    background: linear-gradient(to top, #3204fdba, #9907facc),
      url(images/image-equilibrium.jpg) no-repeat top center;
  }

  h1:hover, span:hover {
  color: hsl(178, 100%, 50%);
}







    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
